body {
  margin: 0px;
  font-family: 'Lora', serif;
  color: #343333;
  background-color: white;
}

header {
  background-color: #f3f3f3;
  padding-bottom: 5px;

}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

h1, p {
  font-family: sans-serif;
  margin-bottom: 0px;
}

p {
  margin: 0px;
  font-size: 18px;
}

.body {
  text-align: center;
  padding-bottom: 4em;
}

.line-at-top {
  margin-top: 0px;
  border-top: 4px solid red;
  border-bottom: 4px solid red;
  margin-left: 8em;
  width: 75%;
}

.primaryNavBar ul {
  display: flex;
}

.home {
  color: red;
}

li {
  list-style: none;
  text-decoration: none;
  padding-right: 2em;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #55595C;
}

.logo {
  width: 7em;
  height: 20px;
  margin-left: 4em;
  padding-right: 6em;
}

.image-grid-container {
  display: flex;
  align-items: center;
  width: 50%;
  height: 300px;
  margin-left: 8em;
  padding-left: 8em;
  margin-top: 1.8em;
}

.img {
  border: 5px solid white;
}

.search {
  padding-left: 20em;
}

.searchButton {
  width: 1em;
  height: 1em;
}

.new {
  display: flex;
  padding-top: 6em;
  flex-direction: column;
  margin-left: 8em;
}

.new h4 {
  color: red;
  font-weight: bold;
  font-size: 18px;
}
