body {
  margin: 10px 0px 5px 0px;
  font-family: sans-serif, arial;
  color: #343333;
  background-color: white;
}

header {
  background-color: #f3f3f3;
  padding-bottom: 5px;

}

.primaryNavBar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo {
  width: 90px;
  height: 20px;
  margin-right: 25px;
}

.line-at-top {
  border-top: 3px solid red;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 25%;
  margin-left:25%;
}

.cat-one {

}
