body {
  margin: 0px;
  font-family: sans-serif, arial;
  color: #343333;
  background-color: white;
}

header {
  background-color: #f3f3f3;
  padding-bottom: 5px;

}

.line-at-top {
  margin-top: 0px;
  border-top: 4px solid red;
  border-bottom: 4px solid red;
  margin-left: 8em;
  width: 75%;
}

.primaryNavBar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #55595C;
}

.logo {
  width: 90px;
  height: 20px;
  margin-right: 25px;
}

.image-grid-container {
  display: flex;
  align-content: center;
  width: 50%;
  height: 300px;
  margin-left: 8em;
  padding-left: 8em;
}

.img {
  border: 3px solid white;
}
